* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

ul {
  list-style: none;
}

p {
  margin: 20px 0px;
}

section {
  margin: 2rem 0;
}

/* Header */
.header {
  background: url(Img/bg-1.jpeg);
  height: 100vh;
  width: 100%;
  background-position: center;
}

.header:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.header * {
  z-index: 3;
}

/* Header - Nav */
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  width: 100%;

  font-size: 1.3rem;
  background-color: var(--dark);
  color: var(--light);
  height: 70px;
  padding: 0px 30px;
  font-weight: 400;
  opacity: 0.7;
}

.header nav span {
  color: var(--warning);
}

.header nav ul {
  font-size: 0.8rem;
  display: flex;
}

.header nav ul li {
  padding: 0px 15px;
}

.header nav ul a {
  color: var(--light);
  padding: 0.5rem 0.5rem;
}

.header nav ul a:hover {
  border-bottom: 2px solid var(--warning);
}

/* Header - Content */
.header .content {
  color: var(--light);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header .content h1 {
  font-size: 2.7rem;
}

.header .content p {
  font-size: 1.3rem;
}

.header .content div {
  width: 600px;
  text-align: center;
  padding: 20px 0px;
}

.header .content a {
  font-size: 0.8rem;
}

/* Services */
.services {
  font-size: 0.8rem;
}

.services .column {
  padding: 1rem;
  text-align: center;
}

.services .column div {
  padding: 20px;
}

.services .row .column i {
  color: var(--light);
  background-color: var(--primary);
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 2rem;
  margin: 0.8rem 0;
}

/* About */
.about {
  background-color: var(--secondary);
}

.about-2 {
  background-color: var(--warning);
}

.about .row {
  height: 60vh;
}

.about .column {
  flex: 50%;
  justify-content: flex-start;
}

.about .column:not(:first-child) {
  color: var(--light);
  align-self: center;
  font-size: 1rem;
  padding: 0 2rem;
}

/* Gallery */
.gallery .container header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
  padding: 2rem 0;
}

/* Gallery Images */
.gallery .images .row {
  padding: 0 10px;
}

.gallery .images .column {
  display: flex;
  flex-direction: column;
}

.gallery img {
  padding: 5px;
}

.gallery img:hover {
  opacity: 0.9;
  cursor: pointer;
}
