:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --dark: #343a40;
  --light: #f8f9fa;
}

.text-danger {
  color: var(--danger);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--light);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.btn {
  cursor: pointer;
  display: inline-block;
}

.btn-bordered {
  border: 2px solid var(--light);
  color: var(--light);
  border-radius: 5px;
  padding: 0.4rem 1.8rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  padding: 0.6rem 1.8rem;
}

.btn-secondary {
  background-color: var(--danger);
  color: var(--light);
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
}

.btn:hover {
  opacity: 0.9;
}

/* Flex Grid */
.flex-grid .row {
  display: flex;
}

/* Flex Columns */
.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  flex: 1;
  background-color: var(--light);
}

.flex-columns .column-1,
.flex-columns .column-2 {
  height: 100%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
.footer {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  align-items: center;
}

.footer .social i {
  margin: 0 6px;
}
