:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --dark: #343a40;
  --light: #f8f9fa;
}

.text-danger {
  color: var(--danger);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--light);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.bg-light {
  background-color: var(--light);
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
}

.btn-bordered {
  border: 2px solid var(--light);
  color: var(--light);
  border-radius: 5px;
  padding: 0.4rem 1.8rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  padding: 0.4rem 1.6rem;
}

.btn-secondary {
  background-color: var(--danger);
  color: var(--light);
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

/* Flex Section */
.flex-section {
  display: flex;
  flex-wrap: wrap;
}

.flex-section .column {
  flex: 1;
}

.responsive-flex {
  display: flex;
}

.responsive-flex .column {
  flex: 1;
}
