:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --dark: #343a40;
  --light: #f8f9fa;
}

.bg-primary {
  background-color: var(--primary);
  color: var(--light);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.btn {
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  padding: 0.6rem 1.8rem;
}

.btn:hover {
  opacity: 0.7;
}
